.card-pricing-container {
    position: absolute;
    bottom: 0px;
    left:0;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    padding: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0,0,0,0.8);
    height: 70px;
    width: 100%;    
}

.card-pricing-title {
    margin-bottom: 3px;
}

.card-pricing-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-pricing-value-console {
    display: flex;
    flex-direction: row;
}

.card-pricing-value-console > span {
    font-weight: bolder;
    color: aqua;
    margin-right: 10px;
}